header{
    height: 100px;
    font-size: 250%;
    text-align:center;
    border-bottom: 10px double;
    position:relative;


}

header h1{
    padding-top: 25px;
}

header a{
    text-decoration:none;
    color:black;
    position: absolute;
    left:10px;

}

header a:hover{
    color:lightgray;
}
header h2{
    font-size: 50%;
}

ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    row-gap: 30px;
    padding-top: 30px;

}

li{
    text-align:left;
    width: 90%;
    border: 2px solid;
    border-radius: 5px;
    padding: 40px 20px;
    position:relative;
}

li h2{
    font-weight: bolder;
    border-bottom: 1px gray solid;
    margin-bottom: 5px;
    position:absolute;
    top:2px;
    width: 95%;
    font-size: 125%;
}

li h3{
    position:absolute;
    bottom:2px;
    font-style: italic;
    color:rgb(51, 51, 51);
}

