:root{
    --salmon: #E88D67;
    --beige: #F3F7EC;
    --mid-blue: #006989;
    --navy-blue: #005C78;
}


form{
    margin-top: 100px;
    font-size: 150%;

}

form h2{
    font-size: 200%;
    margin-bottom: 20px;
}

form input{
    width: 700px;
    margin-bottom: 20px;
}

#content{
    height: 100px;
}

#submitbutton{
    background-color: var(--navy-blue);
    color: var(--beige);
    height: 30px;
    font-size: 75%;
    border-radius: 5px;
}

#submitbutton:hover{
    cursor:pointer;
}